/AndroidManifest.xml
/build.xml
/local.properties
/proguard-project.txt
/project.properties
/assets/formations
/bin
/gen
/res/values/strings.xml
/src/com/wildlava/skydivingformationslite/DiveViewer.java
/src/com/wildlava/skydivingformationslite/FormationBrowser.java
